<html>
    <head>
        <title>Korlap szerkeszto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
            box-sizing: border-box;
            }

            /* Create two equal columns that floats next to each other */
            .column {
            float: left;
            width: 30%;
            padding: 10px;
            
            }

            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }
            .hide {
            display: none;
            }
            .myDIV:hover + .hide {
            display: block;
            color: red;
            }
        </style>
    </head>
    <body>
        <h1>Kórlap Szerkesztő <div style="font-size:14px;">készítette Hornyák Gergely</div></h1>
        <form method="POST" action="static_editor_webpage_.html">
            <div class="myDIV">
                <button type="submit"> Rendelő adatainak szerkesztése </button>
            </div>
            <div class="hide">Ezt a kórlap kitöltése előtt intézd el, és nem kell minden alkalommal</div>
        </form>
        <form id="myForm" method="POST" action="{{ url_for('submit_form') }}">
            <h3><label for="datenow">Kiállítás dátuma:</label>
            <input type="date" id="datenow" name="datenow"></h3><br>
            
            <i>Pipáld be, amit <b>nem</b> szeretnél a kórlapon látni.</i>

            <div class="row">
                <div class="column">
                    <h2>Tulajdonos adatai:</h2>
                    <label for="owner_name">Tulajdonos neve:</label><br>
                    <input type="text" id="owner_name" name="owner_name"><br><br>

                    <label for="owner_address">Tulaj lakcíme:</label><br>
                    <input type="text" id="owner_address" name="owner_address"><br><br>

                    <label for="owner_mobile">Tulaj mobilszáma:</label>
                    <input type="checkbox" id="owner_mobile_NO" name="owner_mobile_NO" value="owner_mobile_NO">
                    <br>
                    <input type="text" id="owner_mobile" name="owner_mobile"><br><br>

                    <label for="owner_email">Tulaj email-címe:</label>
                    <input type="checkbox" id="owner_email_NO" name="owner_email_NO" value="owner_email_NO">
                    <br>
                    <input type="email" id="owner_email" name="owner_email"><br><br>
                </div>
                <div class="column" style="border-left: solid grey 2px;">
                    <h2>Kiskedvenc adatai:</h2>
                    <label for="pet_id">Állat kódja:</label><br>
                    <input type="text" id="pet_id" name="pet_id"><br><br>

                    <label for="pet_name">Állat neve:</label><br>
                    <input type="text" id="pet_name" name="pet_name"><br><br>

                    <label for="pet_species">Állat faja:</label><br>
                    <input type="text" id="pet_species" name="pet_species"><br><br>

                    <label for="pet_breed">Állat fajtája:</label><br>
                    <input type="text" id="pet_breed" name="pet_breed"><br><br>

                    <label for="pet_colour">Állat színe:</label><br>
                    <input type="text" id="pet_colour" name="pet_colour"><br><br>

                    <label for="pet_born">Állat szül. dátuma:</label><br>
                    <input type="date" id="pet_born" name="pet_born"><br><br>

                    <label for="pet_sex">Állat ivara:  </label>
                    <select name="pet_sex" id="pet_sex">
                        <option value="0">Szuka</option>
                        <option value="1">Kan</option>
                    </select><br><br>

                    <label for="pet_passport_num">Állat útlevélszáma:</label><br>
                    <input type="text" id="pet_passport_num" name="pet_passport_num"><br><br>

                    <label for="pet_passport_date">Állat útlevél dátuma:</label><br>
                    <input type="date" id="pet_passport_date" name="pet_passport_date"><br><br>
                    
                    <label for="pet_chip_id">Állat mikrochip száma:</label><br>
                    <input type="text" id="pet_chip_id" name="pet_chip_id"><br><br>
                    
                    <label for="pet_weight">Állat súlya:</label>
                    <input type="checkbox" id="pet_weight_NO" name="pet_weight_NO" value="pet_weight_NO">
                    <br>
                    <input type="text" id="pet_weight" name="pet_weight"> kg<br><br>
                </div>
                <div class="column">
                    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                    <div style="padding:20px; border: solid green 6px;">
                        <label for="file" style="cursor: pointer;">Kattints ide kép feltöltéséhez</label>
                    </div>
                    <img id="output" width="300" />	
                    <script>
                        var loadFile = function(event) {
                            var image = document.getElementById('output');
                            image.src = URL.createObjectURL(event.target.files[0]);
                        };
                    </script>             
                </div>
            </div>

            <hr>
            
            <br><br>
            <label for="anamnesis">
                Anamnézis:
            </label>
            <br><br>
            <textarea id="anamnesis" name="anamnesis" rows="7" cols="70"></textarea><br><br><br>

            <br>
            <label for="symptoms">
                Symptoma:
            </label>
            <br><br>
            <textarea id="symptoms" name="symptoms" rows="7" cols="70"></textarea><br><br><br>

            <br>
            <label for="therapia">
                Therapia:
            </label>
            <br><br>
            <textarea id="therapia" name="therapia" rows="7" cols="70"></textarea><br><br><br>
            
            <br>
            <label for="notes">
                Megjegyzés:
            </label><br><br>
            <textarea id="notes" name="notes" rows="7" cols="70"></textarea><br><br><br>
            <button type="submit" style="font-size:large;">Beadás</button>
            <br><br>

        </form>
    </body>

<script type='text/javascript'>
    $(document).ready(function() {
        var max_fields = 10;
        var wrapper = $(".container1");
        var add_button = $(".add_form_field1");
    
        var x = 1;
        $(add_button).click(function(e) {
            e.preventDefault();
            if (x < max_fields) {
                x++;
                $(wrapper).append('<div><input type="text" name="mytext[]"/> <a href="#" class="delete">Visszavonás</a></div>'); //add input box
            } else {
                alert('You Reached the limits')
            }
        });
    
        $(wrapper).on("click", ".delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })
    });
</script>

<script>
    $(document).ready(function() {
        var max_fields = 10;
        var wrapper = $(".container2");
        var add_button = $(".add_form_field2");

        
        $(add_button).click(function(e) {
            e.preventDefault();
            $(wrapper).append('<div><input type="text" name="mytext[]"/> <a href="#" class="delete">Visszavonás</a></div>'); //add input box
        });
    
        $(wrapper).on("click", ".delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })
    });
</script>

<script type='text/javascript'>
    function addFields(){
        // Generate a dynamic number of inputs
        var number = document.getElementById("member").value;
        // Get the element where the inputs will be added to
        var container = document.getElementById("container");
        // Remove every children it had before
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (i=0;i<number;i++){
            // Append a node with a random text
            container.appendChild(document.createTextNode("Member " + (i+1)));
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "text";
            input.name = "member" + i;
            container.appendChild(input);
            // Append a line break 
            container.appendChild(document.createElement("br"));
        }
    }
</script>

</html>
